.navContent{
    display: flex;
    background-color: #0fb19b;
    width: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5em;
    
    
    

}
.navHome{
    display: flex;
}

.navImage {
    margin-left: 40px;
    margin-right: 40px;
    width: 10em;
    position: relative;
    min-width: 200px;
  }
  
  .navImage::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: 200;
    background-color: #d31717;
    filter: blur(10px);
    opacity: 0.8;
  }
.navLinks > a{
    text-decoration: none;
    color: black;
    margin-right: 40px;
}
.navLinks{
    
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.navLinks > .activeLink {
    color: white;
    scale: 1.2;
  }

.powerOffIcon {
    margin-right: 40px;
    margin-left: 40px;
    width: 2em;
}
.powerOffIcon:hover {
    cursor: pointer;
    scale: 1.2;
}
