.divCardContainer {
  display: flex;
  border-radius: 15%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1), 0px 0px 13px 5px rgba(0, 255, 0, 0.5);
  padding: 20px;
  max-width: 250px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
}

.backgroundImage {
  position: absolute;
  top: -9%;
  left: -30%;
  width: 460px;
  height: 460px;
  background-image: url("/src/imgs/Portal.png");
  background-position: center;
  background-size: cover;
  animation-name: rotateBackground;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -4;

}

@keyframes rotateBackground {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.divCardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divCardContent button {
  all: unset;
  cursor: pointer;
  transition: color 0.3s;
  position: absolute;
  bottom: 25%;
  right: 4%;
}
.link {
  color: black;
  background-color: rgba(19, 196, 116, 0.5);
  border-radius: 20px;
  text-decoration: none;
  bottom: 50%;
}
.link:hover{
  background-color: blueviolet;
}
h3{
  padding: 5px;
  margin:0;
}
h2 {
  font-size: 18px;
  
  margin-bottom: 5px;
  background-color: rgba(17, 121, 190, 0.5);
  border-radius: 20px;
  width: 100%;
  text-align: center;
}

.divCardContent img {
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 30%;
  order: -1;
  border: 7px outset #3fdc596a;
}



.divCardContent div {
  top: 7%;
  right: 10%;
  position: absolute;
  
}
.divCardContent div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border: 1em solid rgba(29, 136, 182, 0.8);
  border-radius: 6em;
  transition: all 0.2s ease-in-out;
}
.containerSpin div {
  transition: all 0.075s ease-in-out;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.1em solid;
  border-color: rgba(15, 192, 59, 0.8);
  border-radius: 6em;
  background: rgba(255,255,255,0.8);
}
.containerSpin div:after {
  transition: all 0.075s ease-in-out;
  font: 1em Helvetica, arial;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  content: "x";
  color: rgba(12, 12, 12, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -5%) scale(1.25, 1);
}

.containerSpin:before {
  animation: container_spin_back 0.2s ease-in-out forwards;
}
.closeIconSpin {
  animation: icon_spin_back 0.2s ease-in-out forwards;
}

.containerSpin:hover:before {
  animation: container_spin 0.2s ease-in-out forwards;
}
.containerSpin:hover .closeIconSpin {
  animation: icon_spin 0.2s ease-in-out forwards;
}

.containerSpin:active:before {
  animation: container_spin_double 0.2s ease-in-out forwards;
}
.containerSpin:active .closeIconSpin {
  animation: icon_spin_double 0.2s ease-in-out forwards;
  border-color: rgba(50, 50, 50, 0.8);
}
.containerSpin:active .closeIconSpin:after {
  color: rgba(50, 50, 50, 0.8);
}
@keyframes container_spin {
  0% {
    border-color: rgba(100, 100, 100, 0.8);
  }
  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(100, 100, 100, 0.8);
  }
  100% {
    border-color: rgba(200, 200, 200, 0.6);
  }
}
@keyframes container_spin_back {
  0% {
    border-color: rgba(200, 200, 200, 0.6);
  }
  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(200, 200, 200, 0.6);
  }
  100% {
    border-color: rgba(100, 100, 100, 0.8);
  }
}
@keyframes container_spin_double {
  0% {
    border-color: rgba(200, 200, 200, 0.6);
  }
  50% {
    border-left-width: 0;
    border-right-width: 0;
    border-color: rgba(200, 200, 200, 0.6);
  }
  100% {
    border-color: rgba(200, 100, 100, 0.8);
  }
}
@keyframes icon_spin {
  50% {
    width: 0;
  }
}
@keyframes icon_spin_back {
  50% {
    width: 0;
  }
}
@keyframes icon_spin_double {
  50% {
    width: 0;
  }
}
