.mainContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.optionFilters {
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgb(48, 164, 125);
}
.optionFilters select {
        width: 150px;
        height: 30px;
        border: none;
        background-color: #eee;
        border-radius: 5px;
      }

.favoriteDiv {
    
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        margin-top: 40px;
  
}
