@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.searchBarContainer{
        background-color: blue;
        width: 300px;
        height: 100px;
}

.button{
        margin: auto;
        width: 80px;
        height: 80px;
        background: crimson;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
